<div class="content">
  <div class="form">
    <h1>Cadastre-se</h1>

    <app-step-one *ngIf="!nextStep" [step1Form]="step1Form"></app-step-one>

    <app-step-two [step2Form]="step2Form" [email]="step1Form.value.email" *ngIf="nextStep"></app-step-two>

      <div class="button">
        <button *ngIf="!nextStep"  mat-button id="back-button" (click)="back()">Voltar</button>
        <button *ngIf="!nextStep" (click)="createUser()" [disabled]="step1Form.invalid" mat-raised-button color="primary">
          Próximo
          <app-spinner *ngIf="loading"></app-spinner>
        </button>

        <button *ngIf="nextStep" (click)="createTeacher()" [disabled]="step2Form.invalid || loading" mat-raised-button color="primary">
          Confirmar
          <app-spinner *ngIf="loading"></app-spinner>
        </button>
      </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>

