@use "../../../../styles/index.scss" as *;

.content {
  background-image: $gradient;
  width: 100%;
  padding-top: 2rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //mixins
  @include screenMedium {
    align-items: center;
  }

  /** Configurações da sessão de formulário **/
  .form {
    max-width: 100%;
    padding: 1rem;

    //mixins
    @include screenMedium {
      width: 80%;
    }
    @include screenExtraLarge {
      max-width: 1200px;
    }
    form {
      background-color: rgba(255, 255, 255, 0.534);
      border-radius: 1rem;
      padding: 1rem;
      //mixins
      @include animation-rigth-to-left;
      @include screenMedium {
        padding: 3rem;
      }

      h1 {
        @include title-big;
        text-align: center;
        color: $primary-800;
      }

      //Botão
      .button {
        width: 100%;
        text-align: right;
        margin-top: 2rem;
        #back-button {
          border: 2px solid $primary-800;
        }

        button {
          margin: 0.5rem;
        }
      }
      //Input
      mat-form-field {
        display: block;
        width: 100%;

        @include screenLarge {
          max-width: 40rem;
        }
      }
    }
  }
  .footer {
    bottom: 0;
    width: 100%;
  }
}
