<main class="row">

  <div class="section-img col-lg-7 col-md-12">
    <div id="text">
      <span id="bold">O educador se eterniza </span>
      <span id="italic">em cada ser que ele educa</span>
    </div>

    <div class="img">
      <img src="../../../../assets/images/img-login.svg" alt="Imagem de pessoas segurando livros">
    </div>
  </div>

  <div class="form col-lg-5 col-md-12">

    <app-logo></app-logo>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email"e matInput placeholder="Digite seu e-mail">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password"e matInput placeholder="Digite sua senha">
        <mat-icon matSuffix>lock_open</mat-icon>
      </mat-form-field>
      <a href="#">Esqueci minha senha</a>
      <button mat-raised-button color="primary">Confirmar</button>
    </form>

    <section>
      <h3>Não tem cadastro?
        <a href="#">Cadastre-se</a>
      </h3>
    </section>
  </div>
</main>
