<div class="content">
  <div class="form">
    <form>
    <h1>Cadastre-se</h1>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input type="text"e matInput placeholder="Digite seu nome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input type="text"e matInput placeholder="Digite seu sobrenome">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input type="text"e matInput placeholder="Digite o número do seu telefone">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email"e matInput placeholder="Digite seu e-mail">
      </mat-form-field>

      <div class="button">
        <button mat-button id="back-button" routerLink="../">Voltar</button>
        <button mat-raised-button color="primary">Próximo</button>
      </div>
    </form>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>

