@use "./variables.scss" as *;

//Texto
@mixin text-Logo {
  font-size: 1.5em;
  font-weight: 500;

  @include screenMediumLarge() {
    font-size: 2em;
  }
}

@mixin paragraphSmall {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 200;
}

@mixin paragraphMedium {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

@mixin paragraphLarge {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
}

@mixin link {
  color: $primary-800;
  font-weight: 400;
  font-size: 1rem;
  &:hover {
    color: $primary-600;
  }
}

@mixin title-big {
  font-size: 1.5rem;
  font-weight: 400;
  @include screenMedium {
    font-size: 2rem;
  }
}

//Espaçamento
@mixin marginContainer {
  margin: 1rem;
}

//Medias
@mixin screenSmall {
  @media only screen and (min-width: 540px) {
    @content;
  }
}

@mixin screenMedium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin screenMediumLarge {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin screenLarge {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin screenExtraLarge {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

//Botões
@mixin button {
  font-size: 1rem;

  transition: 0.5s;
  &:hover {
    opacity: 0.8;
  }
}

@mixin button-white {
  border: 2px solid $primary-800;
}

//Formulários
@mixin mat-form {
  mat-form-field {
    display: block !important;
    width: 100%;

    @include screenLarge {
      max-width: 40rem;
    }
  }
}

//Animações
@mixin animation-rigth-to-left {
  animation: animation-entrance 0.8s linear;
  -webkit-animation: animation-entrance 0.8s linear;

  @keyframes animation-entrance {
    0% {
      transform: translateX(100px);
      -webkit-transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin animation-bottom-to-top {
  animation: animation-entrance 1.5s linear;
  -webkit-animation: animation-entrance 1.5s linear;

  @keyframes animation-entrance {
    0% {
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animation-top-to-bottom {
  animation: animation-entrance 1.5s linear;
  -webkit-animation: animation-entrance 1.5s linear;

  @keyframes animation-entrance {
    0% {
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }
}
