//Colors
$primary-300: #6489a5;
$primary-400: #437091;
$primary-500: #22577e;
$primary-600: #1e4f76;
$primary-800: #143c61;
$secondary-300: #b5dfdb;
$secondary-500: #95d1cc;
$secondary-800: #78c0b9;
$terciary-500: #faffaf;
$black: #10111e;
$gray: #e5e5e5;

//Font
$font: Roboto, "Helvetica Neue", sans-serif;
