<div class="content">

  <div *ngIf="loading && filter.length == 0; else main"
    class="loading">
    <app-loading-screen></app-loading-screen>
  </div>

  <ng-template #main>
    <div class="main">
      <app-search-input
        message="Pesquisar aluno"
        [searchForm]="searchForm"
        [loading]="loading">
      </app-search-input>

      <table *ngIf="dataSource?.data.length> 0" mat-table
        [dataSource]="dataSource">
        <!-- Coluna nome -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let student" routerLink="/user/aluno/{{student?.id}}"> {{student?.name}} </td>
        </ng-container>
        <!-- Coluna escola -->
        <ng-container matColumnDef="school">
          <th mat-header-cell *matHeaderCellDef> Escola </th>
          <td mat-cell *matCellDef="let student" routerLink="/user/aluno/{{student?.id}}"> {{student?.school}} </td>
        </ng-container>
        <!-- Coluna classe -->
        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef> Classe </th>
          <td mat-cell *matCellDef="let student" routerLink="/user/aluno/{{student?.id}}"> {{student?.class}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <section *ngIf="!dataFound && filter.length > 0 ">
        <app-not-found-results
          message='Não foram encontrados dados correspondentes a "{{filter}}"'></app-not-found-results>
      </section>

      <section *ngIf="dataSource?.data.length == 0 && filter.length == 0 ">
        <app-not-found-results
          message='Nenhum aluno Cadastrado'></app-not-found-results>
      </section>
    </div>
    </ng-template>

  <mat-paginator [length]="totalItems"
    [pageSize]="paginatorHelper?.PageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons>
  </mat-paginator>
</div>
