@use "../../../../styles/index.scss" as *;

.content {
  max-width: 100%;
  min-height: 100%;
  background-image: $gradient;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form {
    margin-top: 3rem;
    width: 100%;

    @include screenMedium {
      display: flex;
      justify-content: center;
    }

    form {
      margin: 1rem;
      padding: 2rem 1rem;
      height: 20rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      //align-items: center;
      background-color: $todo;
      @include mat-form;
      @include screenMedium {
        width: 80%;
      }
      @include screenExtraLarge {
        max-width: 1200px;
      }

      mat-form-field {
        @include animation-rigth-to-left;
      }

      h1 {
        @include title-big;
        color: $primary-500;
      }

      .button {
        width: 100%;
        text-align: right;

        button {
          margin: 1rem;
        }
        #back-button {
          @include button-white;
        }
      }
    }
  }
}

.invalid {
  color: red;
}

@keyframes loading {
  to {
    opacity: 0.5;
  }
  from {
    opacity: 1;
  }
}

.verify {
  animation: loading 1s linear infinite alternate;
}
