<div class="content">
  <div class="form">
    <form [formGroup]="form">
      <h1>Recuperar senha</h1>
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input autocomplete="off" [readonly]="emailValid" type="email"
        matInput placeholder="Digite seu e-mail" formControlName="email"/>
        <mat-hint [ngClass]="{verify: loading}" *ngIf="loading">Verificando email...</mat-hint>
        <mat-hint [ngClass]="{invalid: emailValid === false}" *ngIf="emailValid === false">E-mail não encontrado</mat-hint>
        <mat-error *ngIf="form.controls['email']?.errors?.['required']">Campo obrigatório*</mat-error>
        <mat-error *ngIf="form.controls['email']?.errors?.['email']">E-mail inválido</mat-error>
      </mat-form-field>
      <!---->

      <!-- Senhas -->
      <section *ngIf="emailValid">

        <!-- Senha -->
        <mat-form-field appearance="outline">
          <mat-label>Nova senha</mat-label>
          <input type="password" e matInput placeholder="Digite sua nova senha" formControlName="password"/>
          <mat-error *ngIf="form.controls['password']?.errors?.['required']">Campo obrigatório*</mat-error>
          <mat-error *ngIf="form.controls['password']?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="form.controls['password']?.errors?.['maxlength']">A senha deve ter no máximo 20 caracteres</mat-error>
        </mat-form-field>
        <!---->

        <!-- Confirmar nova senha -->
        <mat-form-field appearance="outline">
          <mat-label>Confirme sua senha</mat-label>
          <input type="password" e matInput placeholder="Digite a mesma senha anterior" formControlName="rePassword"/>
          <mat-error *ngIf="form.controls['rePassword']?.errors?.['required']">Campo obrigatório*</mat-error>
          <mat-error *ngIf="form.controls['rePassword']?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="form.controls['rePassword']?.errors?.['maxlength']">A senha deve ter no máximo 20 caracteres</mat-error>
          <mat-error *ngIf="form.controls['rePassword']?.errors?.['matchingPassword']">As senhas não coincidem</mat-error>
        </mat-form-field>
        <!---->
      </section>

      <!-- Botões -->
      <div class="button">
        <button mat-button id="back-button" routerLink="../">Voltar</button>
        <button (click)="confirm()" [disabled]="form.invalid" mat-raised-button color="primary">Confirmar</button>
      </div>
      <!---->
    </form>
  </div>

  <app-footer></app-footer>
</div>

