@use "../../../../styles/index.scss" as *;

.spinner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;

  .circle {
    border: 2px solid $secondary-300;
    border-top-color: $terciary-500;
    border-bottom-color: $terciary-500;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s linear linear infinite;
    -webkit-animation: rotate 2s linear infinite;
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
