@use "../../../../styles/index.scss" as *;

mat-toolbar {
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  background-color: $primary-300;

  height: 4rem !important;

  @include screenMedium {
    top: 0;
  }

  @include screenExtraLarge {
    justify-content: space-around;
  }
}
