@use "../../../../styles/index.scss" as *;

mat-toolbar {
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.281);
  background-color: $primary-300;

  height: 4rem !important;

  @include screenMedium {
    top: 0;
  }
}

span {
  padding: 1rem !important;
}
